@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
h1.top-title{
 padding: 1em;
 color: #000F00;
 background-color: #DDAABB;
}
.uols{
  padding: 20px 0;
  padding-left: 20px;
  border-style: dashed;
  border-color: cornflowerblue;
  list-style-type: none; 
  max-width: 500px;
}
.odls{
  padding: 20px 0;
  padding-left: 20px;
  border-style: double;
  border-color: green;
  list-style-type: none; 
  max-width: 500px;
}
table{
    background-color: bisque;
    padding: 10px;
}
table th{
    background-color: #DDAABB;
    padding: 5px 10px;
}
table td{
    background-color:cornflowerblue;
    padding: 5px 10px;  
}
.title{
    margin-top: 20px;
    padding: 10px;
    max-width: 600px;
    border: 3px solid #000F00;
    background-color: aliceblue;
}